.divContainer {
  width: 250px;
  height: 250px;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 1px #ced4da;
  margin-top: 10px;
  margin-left: 10px;
}

.divTop {
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #ccc;
}

.divBot {
  width: 100%;
  height: 50%;
  text-align: center;
}

.textName {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  margin: 10px 10px 0 10px;
}

.totalNumber {
  color: #087990;
  font-size: xx-large;
  text-align: center;
  margin: 0px 10px 0 10px;
}

.wrapPercentage {
  width: 80%;
  height: 90%;
  display: inline-block;
  margin-top: 5%;
}

.percentage {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}
.title {
  display: flex;
}

.title span {
  flex: 1;
  font-size: small;
  color: rgb(197, 174, 174);
}

.percentage9 {
  width: 10%;
  height: 100%;
  border: solid 1px #ccc;
  display: flex;
  align-items: flex-end;
}

.percentage9 div {
  width: 100%;
  background-color: aquamarine;
}
