.divContainer {
  display: flex;
  width: 80%;
  height: 50px;
  margin: 20px auto auto 50px;
  border: 1px solid #efeeee;
  background-color: #fafafa;
}

.divLeft {
  height: 100%;
  flex: 1;
}

.divRight {
  height: 100%;
  flex: 10;
}

.divShow {
  height: 100%;
}

.textLeft {
  line-height: 50px;
  font-weight: 600;
  float: right;
  margin-right: 10px;
}
.textPercentage {
  line-height: 50px;
  text-align: center;
  font-weight: 600;
}
